@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&display=swap');

:root {
    --text-color: #ffffff;
    --card-front-color: #414141ee;
    --card-back-color: #f40000;
}

body {
    background: url('./img/fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Sour Gummy", sans-serif;
}

#container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
    gap: 3rem;
}

.cartao {
    margin: 1rem 1rem;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}

.cartao__conteudo {
    background-color: var(--card-front-color);
    text-align: center;
    height: 100%;
    transform-style: preserve-3d;
    border: 2px solid var(--text-color);
    border-radius: 1rem;
    transition: transform 300ms ease-in-out;
}

.cartao__conteudo h3 {
    color: var(--text-color);
    border: 2px solid var(--text-color);
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
    backface-visibility: hidden;
}

.cartao__conteudo p {
    margin-top: 1rem;
    padding: 2rem;
    margin-top: 4rem;
    font-size: 1.4vw;
}

.cartao__conteudo__pergunta p {
    color: var(--text-color);
    font-weight: 500;
}

.cartao__conteudo__resposta p {
    color: var(--card-back-color);
    font-weight: 700;
}

.cartao.active .cartao__conteudo {
    transform: rotateY(180deg);
}

.cartao__conteudo__pergunta,
.cartao__conteudo__resposta {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.cartao__conteudo__resposta {
    transform: rotateY(180deg);
    background-color: rgba(255, 255, 255, 0.692);
    border: 4px solid var(--card-back-color);
    border-radius: 1rem;
}

footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

footer p {
    text-align: center;
    font-size: 1rem;
    margin-top: 0.8rem;
}

@media (max-width: 560px) {
    
    body {
        background: url('./img/fundo_mobile.jpg');
        background-size: contain;
        background-repeat: repeat;
        font-family: "Playwrite PL", cursive;
    }

    .cartao {
        flex: 1 0 calc(100% - 1rem)
    }

    .cartao__conteudo h3 {
        font-size: 3vw;
    }

    .cartao__conteudo p {
        font-size: 3.8vw;
    }

    footer p {
        font-size: 2vw;
        margin-top: 0.8vw;
    }

    footer {
        height: 1.5rem;
    }
}